@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
*{
    margin:0;
    padding:0;
    font-family:'Poppins';
}

.header{
     background-color:rgb(45, 51, 64);
     text-align:center;
}

.header h1,h2{
    color:white;
}

.header h2{
    transform:translate(0%,-25%);
}

.container{
    width:100%;
    height:auto;
    background-image: linear-gradient(rgb(45, 51, 64), rgb(52, 57, 69));
}

.container div{
    width:30%;
    height:200px;
    margin:20px;
    box-sizing:border-box;
    border:solid #444;
    border-radius:10px;
    text-align:center;
    float:left;
    
}

.container div h1{
    font-size:30px;
    font-weight:normal;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-shadow:2px 0px #000;
    color:#fff;
}

.b1{
    background-color:#fff;
}

.b2{
    background-color:#e4d5aa;
}

.b3{
    background-color:#fbfae8;
}

.b4{
    background-color:#ce9654;
}

.b5{
    background-color:#e6913c;
}

.b6{
    background-color:#3b85dd;
}

.b7{
    background-color:#318c69;
}

.b8{
    background-color:#cebb25;
}

.b9{
    background-color:#253c52;
}

.b10{
    background-color:#f4e098;
}

.b11{
    background-color:#13442f;
}

.b12{
    background-color:#e14d3f;
}

.b13{
    background-color:#6e6e68;
}

.b14{
    background-color:#281c1c;
}

.b15{
    background-color:#111e1a;
}

@media screen and (max-width:1200px){
    .container div{
        width:40%;
    }
}

@media screen and (max-width:600px){
    .container div{
        width:90%;
    }
}

@media screen and (min-width:3000px){
    .container div{
        width:17%;
    }
}