*{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(rgb(45, 51, 64), rgb(52, 57, 69));
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(45, 51, 64);
  }

.nav h1{
    color:#eee;
    font-size:22px;
}

.nav-bar {
    margin: 1em;
    padding: 2em;
  
    border-radius: 10px;
  }
  .nav .nav-bar li {
    display: inline;
    list-style-type: none;
  }
  .nav-bar a {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: #eee;
    padding: 3em 3em 0 3em;
  }
  .nav-bar a:after {
    content: " ";
    position: absolute;
    background-color: #e97770;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    padding: 0;
    margin: 0;
    transition: 0.3s;
  }
  .nav-bar a:hover {
    color: white;
    width: 90%;
  }
  
  .nav-bar li:hover a:after {
    width: 90%;
  }

.about{
    width:100%;
    padding:70px 0;
}

.about img{
    width:400px;
}

.text{
    width:550px;
}

.main{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.text h1{
    color:white;
    font-size:80px;
    text-transform:capitalize;
    margin-bottom:20px;
}

.text h5{
    color:white;
    font-size:25px;
    text-transform:capitalize;
    margin-bottom:25px;
    letter-spacing:2px;
}

span{
    color:#e97770;
}

.text p{
    color:#fcfc;
    letter-spacing:1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
}

button{
    background:#e97770;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:13px 30px;
    border-radius:30px;
    transition:.4s;
}

button:hover{
    background:transparent;
    border:2px solid #e97770;
    cursor:pointer;

}

.container1 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #e97770;
  height: 2px;
  box-sizing: border-box;
  width: 50%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3 ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
.copyright {
  font-size: 16px;
  position: absolute;
  left: 50%;
  color: #bbb;
  transform: translateX(-50%);
  line-height: 40px;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}