@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  height: 100%;
  font-family: Poppins;
}
.container {
  background-image: linear-gradient(rgb(45, 51, 64), rgb(52, 57, 69));
  max-height: 600px;
  height: 70%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  margin: 1em;
  padding: 2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
.nav .nav-bar li {
  display: inline;
  list-style-type: none;
}
.nav-bar a {
  text-decoration: none;
  text-align: center;
  color: #eee;
  padding: 3em;
}
.nav-bar a:hover {
  background-color: black;
  color: white;
}
.slogan {
}
.slogan h1 {
  color: white;
  font-weight: bolder;
  margin: auto;
  text-align: center;
}
.slogan h3 {
  color: grey;
  text-align: center;
}

.Introduction {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 25em;
  background-color: #e97770;
}
.Introduction h4 {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
.info {
  background-color: #e97770;
}
/*
.slogan2 {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.slogan2 > .header {
  padding-top: 3em;
  font-weight: 300;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header h3 {
  animation: typing 2s steps(31, end),
    blink-caret 0.5s step-end infinite alternate;
  white-space: nowrap;
}
/*
.four h3 {
  width: 13ch;
  border-right: 4px solid black;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}*/
@-webkit-keyframes typing {
  from {
    width: 50%;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.slogan2 .paragraph {
  margin-top: 2em;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 7em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 10em;
}
.btn1 {
  width: 180px;
  padding: 12px 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  transition: width 0.5s;
}
.btn1 img {
  width: 40px;
  display: none;
}
.btn1:hover img {
  display: block;
}
.btn1:hover {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Details {
  margin: 5em auto;
  text-transform: uppercase;
  text-align: center;
  width: 25em;
  background-color: rgb(255, 255, 255);
}
.Details h4 {
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wall-paintaing {
  position: relative;
}
.wall-paintaing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}
.service {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.service > .service1 {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 75%;
}
.service1 > div {
  border: 1px solid black;
  flex-basis: 25em;
  height: 15em;
  margin: 2em;
  background-color: #24262b;
  /* background-color: rgb(0, 0, 0);*/
}
.service i {
  padding: 1em 2em;
  font-size: 50px;
  color: white;
}
.text {
  text-align: center;
  padding: 0em;
  font-family: Poppins;
  font-weight: 100;
  font-size: 20px;
  color: white;
}

.container1 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #e97770;
  height: 2px;
  box-sizing: border-box;
  width: 50%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3 ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
.copyright {
  font-size: 16px;
  position: absolute;
  left: 50%;
  color: #bbb;
  transform: translateX(-50%);
  line-height: 40px;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
