@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  height: 100%;
  font-family: Poppins;
}
.container {
  position: relative;
  background-image: linear-gradient(rgb(45, 51, 64), rgb(52, 57, 69));
  max-height: 600px;
  height: 70%;
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  position: relative;
}
.logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  color: #24262b;
}
.nav-bar {
  margin: 1em;
  padding: 2em;

  border-radius: 10px;
}
.nav .nav-bar li {
  display: inline;
  list-style-type: none;
}
.nav-bar a {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #eee;
  padding: 3em 3em 0 3em;
}
.nav-bar a:after {
  content: " ";
  position: absolute;
  background-color: #e97770;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}
.nav-bar a:hover {
  color: white;
  width: 90%;
}

.nav-bar li:hover a:after {
  width: 90%;
}

.checkbtn {
  color: white;
  font-size: 30px;
  display: none;
}

.nav input {
  display: none;
}

@media (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
  }
  .checkbtn {
    display: block;
    position: relative;
    right: 50%;
  }
  .nav ul{
    position:fixed;
    width:105%;
    height:100vh;
    text-align:center;
    background-color:#e97770;
    left:-150%;
    top:62px;
    transition:0.5s;
  }

  .nav ul li a {
    display: block;
    font: 50px;
    color: rgb(45, 51, 64);
  }

  .nav ul li a:hover {
    color: white;
  }

  #check:checked ~ ul {
    position: absolute;
    left: -5%;
  }
}

.slogan {
}
.slogan h1 {
  color: white;
  font-weight: bolder;
  margin: auto;
  text-align: center;
}
.slogan h3 {
  color: grey;
  text-align: center;
}

.Introduction {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 25em;
  background-color: #e97770;
}
.Introduction h4 {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
.info {
  background-color: #e97770;
}
/*
.slogan2 {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.slogan2 > .header {
  padding-top: 3em;
  font-weight: 300;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .header h3 {
  animation: typing 2s steps(31, end),
    blink-caret 0.5s step-end infinite alternate;
  white-space: nowrap;
} */
/*
.four h3 {
  width: 13ch;
  border-right: 4px solid black;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}*/

.slogan2 .paragraph {
  margin-top: 2em;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0em;
}

.slogan2 {
  padding-bottom: 4em;
  text-align: center;
}

.slogan2 {
  font-size: 1.5em;
  letter-spacing: 0.075em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 10em;
}
.btn1 {
  width: 180px;
  padding: 12px 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  transition: width 0.5s;
}
.btn1 img {
  width: 40px;
  display: none;
}
.btn1:hover img {
  display: block;
}
.btn1:hover {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Details {
  margin: 5em auto;
  text-transform: uppercase;
  text-align: center;
  width: 25em;
  background-color: rgb(255, 255, 255);
}
.Details h4 {
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}

.wall-paintaing {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
}
.wall-paintaing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}
/* .service {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.service > .service1 {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 75%;
}
.service1 > div {
  border: 1px solid black;
  flex-basis: 25em;
  height: 15em;
  margin: 2em;
  background-color: #24262b;
  background-color: rgb(0, 0, 0);
}
.service i {
  padding: 1em 2em;
  font-size: 50px;
  color: white;
}
.text {
  text-align: center;
  padding: 0em;
  font-family: Poppins;
  font-weight: 100;
  font-size: 20px;
  color: white;
} */
.service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto auto auto auto;
  justify-content: space-evenly;
  gap: 100px;

  position: relative;
  margin-bottom: 70px;
}
.wall-paintaing {
  grid-column: 1 / span 2;
  height: auto;
}
.wall-paintaing img {
  margin-bottom: 10px;
  width: 100%;
}
.content .con {
  position: relative;
}
.con .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.con .header h3 {
  margin: 8px 3px 10px 15px;
}
.content div :after {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #f0f0f0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -50px;
}
.content h3 {
  color: #e97770;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 25px;
}
.content i {
  border: 2px solid black;
  color: #fff;
  font-size: 25px;
  border-radius: 30px;
  padding: 15px;
  background-color: #2e323a;
}
.con p {
  margin-left: 70px;
  margin-right: 10px;
  color: #a09ca5;
}

.container1 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #e97770;
  height: 2px;
  box-sizing: border-box;
  width: 50%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3 ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
.copyright {
  font-size: 16px;
  position: absolute;
  left: 50%;
  color: #bbb;
  transform: translateX(-50%);
  line-height: 40px;
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
.comp-logo {
  display: grid;
  grid-template-columns: auto;
  place-items: center;

  margin-bottom: 4em;
}
.comp-logo > svg {
  width: 400px;
  height: 400px;
  /* background-color: white; */
  background-color: transparent;
}

.comp-logo > svg path {
  fill: #24262b;
}
@media only screen and (max-width: 1000px) {
  .content {
    grid-template-columns: auto;
  }
  .wall-paintaing img {
    width: 50%;
  }
  .con {
    grid-column: 1 / span 2;
    margin-left: 7px;
  }
}
@media only screen and (max-width: 500px) {
  .comp-logo > svg {
    width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 300px) {
  .comp-logo > svg {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 420px) {
  .Introduction {
    width: 15em;
  }
}
@media only screen and (max-width: 420px) {
  .Details {
    width: 15em;
  }
}
@media only screen and (max-width: 390px) {
  .slogan2 {
    margin-right: 4px;
  }
}
