@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
*{
  font-family:'Poppins';
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    120deg,
    rgb(45, 51, 64),
    rgb(52, 57, 69),
    #e97770
  );
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txtField {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txtField input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txtField label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txtField span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #e97770;
  transition: 0.5s;
}

.txtField input:focus ~ label,
.txtField input:valid ~ label {
  top: 5px;
  color: #e97770;
}

.txtField input:focus ~ span::before,
.txtField input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 8px 5px;
  color: #adadad;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #e97770;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #e97770;
  transition: 0.5s;
}

.signup {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #555;
}

.signup a {
  color: #e97770;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
